.about
    .container    
        .about__content
            .about__left 
                .invest__img.about__img-one 
                    img(src="../assets/img/about-agency01.png", alt="")
                .about__img-two 
                    img(src="../assets/img/about-agency02.png", alt="")
                img(src="../assets/img/node.svg", alt="").about__abs
            .about__right 
                h3.about__title About Our Private Investigation Agency
                p.about__descr John Cutter Investigations Inc. (JCI) was founded by former NYPD Deputy Chief John Cutter after a decorated 25-year career. Our investigations professionals come with vast 
                a.about__link.spec__link(href="#!") Learn More