.help 
    .help__content 
        form.help__form
            h3.help__title How can we help?
            p.help__descr In need of expert investigative services? We’re Foglight Investigations, and we’re here to help. 
            .help__sep 
                input.help__input(type="email", placeholder="Your E-mail")
                input.help__input(type="number", placeholder="Phone number")
            textarea.help__input.help__area(placeholder="Your Message Here")
            .help__send 
                label.help__label
                    input(type="checkbox", required)
                    span Your email address will not be published. Required fields are marked *
                button.help__btn.spec__link Send Message
        .help__touch 
            h3.help__name Get In Touch
            p.help__body therefore always free from repetition, injected humour, or non-characteristic 
            .help__contact 
                .help__item 
                    .help__icon
                        img(src="../assets/img/message.svg", alt="")
                    .help__info 
                        h4 visit us :
                        p 27 Division St, New York, NY 10002, USA    
                .help__item 
                    .help__icon
                        img(src="../assets/img/telephone.svg", alt="")
                    .help__info 
                        h4 mail us :
                        a(href="mailto:phlox@mail.com") phlox@mail.com     
                        a(href="mailto:contact@mail.com") contact@mail.com     
                .help__item 
                    .help__icon
                        img(src="../assets/img/location.svg", alt="")
                    .help__info
                        h4 phone us : 
                        a(href="tel:+8123985789") +8 (123) 985 789
                        a(href="tel:+1123456 789") +1 (123) 456 789