.invest__content
            img.invest__line(src="assets/img/line.svg", alt="") 
            .invest__left 
                h1.invest__title PROFESSIONAL INVESTIGATIONS & SURVEILLANCE
                p.invest__descr We offer professional and confidential investigative and protection services to a broad spectrum of clients.We are prepared to handle all types 
                .invest__img 
                    img(src="assets/img/woman-left.png", alt="")
            .invest__right 
                .invest__img.invest__img-right 
                    img(src="assets/img/woman-right.png", alt="")
                .invest__rating 
                    .invest__text
                        h3 We Are Professional
                        p More than 45,000+ companies trust Sac
                    .invest__stars 
                        .invest__stars-img 
                            - for (var i = 0; i < 5; i++)
                                img(src="assets/img/star.svg", alt="")
                        p 5 Star Ratings
                .invest__brands 
                    - for (var x = 1; x < 9; x++)
                        img(src="assets/img/company0"+ x +".svg", alt="")