.private__content 
    .private__left 
        .private__item 
            h2.private__title.claims__title Are You wondering If You Should Hire A Private Detective
            p.private__text.claims__descr Private detectives serve businesses, law firms, insurance companies and private individuals and can be hired for a wide range of reasons.
            a.private__link.spec__link(href="#") Contact Me
        .private__item 
            h3.private__subject Type Of Investigation
            h4.private__name Business
            p.private__descr Private detectives serve businesses, law firms, insurance companies and private 
            h4.private__name Law Film
            p.private__descr Private detectives serve businesses, law firms, insurance companies and private 
    .private__right 
        .invest__img.invest__img.invest__img-right
            img.private__img(src="../assets/img/private-right.png", alt="")
        .private__elem 
            h4.private__name Insurance Companies
            p.private__descr Private detectives serve businesses, law firms, insurance
            h4.private__name Private individuals
            p.private__descr Private detectives serve businesses, law firms, insurance
        img.private__abs(src="../assets/img/private-left.png", alt="") 
